.otp{
 display:grid;
 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
 align-items:center;
 justify-items: center;
 justify-self: center;
 margin-top:30%;
}

.otp_input>input{
  width:1.875rem;
  height: 1.875rem;
  border: 1px solid #000000;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  margin: 1rem;
}