.regular_offers{
    width: 88%;
    display:grid;
    grid-area:regular-offers;
    grid-template-areas: 
    "card-img"
    "card-content"
    "card-footer";
    margin-left:5%;
    margin-top:5%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1)
    
}

.card_img{
    grid-area:card-img;
    position:relative;
}

.card_img>img{
    width: 100%;
}

.plan_name {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size:12px;
    left: 0;
    top: 10%;
    padding: 0.2rem;
    background-color: #7F7F7F;;
    color: white;
    border-radius: 0px 4px 4px 0px;
    font-weight: bold;

}

.card_content{
    display: grid;
    grid-area:card-content;
    grid-template-areas:
    "plan-type plan-type   plan-type  plan-type  plan-type  plan-type  plan-type plan-type  dropdown "
    "offer-description offer-description  offer-description  offer-description offer-description offer-description offer-description offer-description offer-description";
    align-items: center;
    justify-content: space-between;
    margin-top:4%;
}

.plan_type{
    grid-area:plan-type ;
    font-size: 1.5rem;
    line-height: 0.3;
}
.dropdown{
    grid-area:dropdown;
    /* justify-self:  flex-end; */
}
.offer_description{
    display: grid;
    grid-area:offer-description;
    font-size:1.125rem;
    padding-top:1rem;
}

.card_footer{
    display: grid;
    grid-area:card-footer;
    grid-template-areas: 
    "store-logo-circle store-tags store-tags store-tags store-tags store-tags  wishlist wishlist wishlist wishlist  options options ";
    align-items: center;
}

.store_logo_circle{
    grid-area:store-logo-circle;
}

.store_tags{
    grid-area:store-tags;
    font-size:0.75rem;
}

.wishlist{
    grid-area:wishlist
}

.options{
    grid-area:options;
}

/*common styles */

.plan_type,.offer_description.store_tags{
    font-family: 'Roboto', sans-serif;
}

.card_content,.card_footer{
    padding:0.5rem;
}


